<aside class="bg-gray-300 w-64 h-screen sticky top-0">
    <ul class="py-4 px-8">
        <li class="p-2"><a class="cursor-pointer" routerLink="/albums" routerLinkActive="active">Albumes</a></li>
        <li class="p-2"><a class="cursor-pointer" routerLink="/comments" routerLinkActive="active">Comentarios</a></li>
        <li class="p-2"><a class="cursor-pointer" routerLink="/photos" routerLinkActive="active">Fotos</a></li>
        <li class="p-2"><a class="cursor-pointer" routerLink="/posts" routerLinkActive="active">Posteos</a></li>
        <li class="p-2"><a class="cursor-pointer" routerLink="/todos" routerLinkActive="active">Todos</a></li>
        <li class="p-2"><a class="cursor-pointer" routerLink="/users" routerLinkActive="active">Usuarios</a></li>
    </ul>
</aside>